body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f4f7fc;
}

.list-task-container {
  background-color: #f0e5d8; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-task-header {
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.list-task-form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.list-task-button-header {
  background-color: #424242;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list-task-delete-all-btn {
  background: linear-gradient(145deg, #ff6b6b, #ff3b3b);
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.list-task-delete-all-btn:hover:not(:disabled) {
  background: linear-gradient(145deg, #ff5252, #ff1f1f);
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(255, 59, 59, 0.4);
}

.list-task-delete-all-btn:disabled {
  background: linear-gradient(145deg, #cccccc, #999999);
  cursor: not-allowed;
  opacity: 0.6;
}

.list-task-logout-btn {
  background: linear-gradient(145deg, #ff3b3b, #c21010);
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 45px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.list-task-logout-btn:hover {
  background: linear-gradient(145deg, #f51515, #ff3b3b);
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.list-task-cards {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 95vw;
  min-height: 36vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.list-task-noTask {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.list-task-message {
  font-size: 18px;
  color: #555;
  font-weight: 600;
}

.list-task-toggle-done-btn {
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50; 
  padding: 14px 28px; 
  cursor: pointer;
  border-radius: 50px; 
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  margin-right: 25px;
  font-weight: 600; 
  text-transform: uppercase; 
  transition: all 0.3s ease;/
}

.list-task-toggle-done-btn:hover {
  background-color: #19da22;
  color: white;
  border: 2px solid #19da22; 
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

