.login-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-container {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-modal {
  display: flex;
  flex-direction: column;
}

.login-title h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

/* Formulário */
.login-inputContainer {
  margin-bottom: 15px;
}

.login-inputContainer label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.login-inputContainer input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-inputContainer input:focus {
  border-color: #007bff;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button_google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #db4437;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-button_google:hover {
  background-color: #c1351d;
}

.login-button_google box-icon {
  margin-right: 10px;
  font-size: 20px;
}

.login-footer {
  text-align: center;
  font-size: 14px;
}

.login-footer a {
  color: #007bff;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
